.centered-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lead-text {
  font-size: 2rem;
  font-weight: bold;
}
.hideme {
  opacity: 0;
}
body {
  color: white;
  font-family: Proxima Nova;
  text-align: center;
}
.header {
  background-image: linear-gradient(45deg, #29116d, #5c4789);
  display: grid;
  justify-items: center;
  padding: 95px 0px;
}
.header img {
  height: 35px;
  opacity: 0;
}
.header .logo {
  background-image: url("../assets/logo/joomag-love-wework.svg");
  background-repeat: no-repeat;
}
.header .header-text {
  width: 50%;
}
.header .header-text > :first-child {
  line-height: 1.2em;
  margin-top: 50px;
  font-size: 2rem;
  font-weight: bold;
}
.header .header-text > :last-child {
  font-size: 1rem;
  margin-top: 35px;
}
.trusted-by {
  margin: 80px 0 60px;
}
.trusted-by p {
  color: black;
  font-size: 1.25rem;
  padding: 20px;
}
.trusted-by .our-clients {
  height: 180px;
}
.trusted-by .our-clients img {
  display: none;
  margin: 3.25rem 2.5rem;
  max-height: 5rem;
  max-width: 5rem;
}
.exclusive-offer {
  min-height: 30rem;
  position: relative;
}
.exclusive-offer .tilted-background {
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  min-height: 30rem;
  position: absolute;
  width: 100%;
}
.exclusive-offer .wework-img {
  background-image: url("../assets/background/image-we-work.jpg");
  background-size: cover;
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  min-height: 30rem;
  position: absolute;
  width: 100%;
}
.exclusive-offer .shadow-box {
  background-image: linear-gradient(45deg, #29116d, #5c4789);
  opacity: 0.9;
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  min-height: 30rem;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.exclusive-offer .shadow-box .small-text {
  margin: 35px;
}
.exclusive-offer .shadow-box .form-group {
  margin-right: 0 !important;
}
.features img {
  max-height: 10rem;
  min-width: 50%;
}
.features .feature {
  color: black;
  margin: 100px 15vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.features .feature-even {
  text-align: left;
}
.features .feature-odd {
  flex-direction: row-reverse;
  text-align: right;
}
.features .feature-text {
  padding: 1rem;
  max-width: 50%;
}
.features .feature-text :first-child {
  margin-bottom: 5px;
  font-size: 2rem;
  font-weight: bold;
}
.footer {
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  background-image: linear-gradient(45deg, #29116d, #5c4789);
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  min-height: 20rem;
  padding: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer p {
  max-width: 40%;
}
.footer .form-inline {
  margin: 35px 0 30px;
}
.footer .disclaimer {
  font-size: 0.85rem;
}
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .header-text {
    width: 80%;
  }
  .form-inline {
    flex-direction: column;
  }
  .form-inline :first-child {
    margin: 10px;
  }
  .footer {
    padding: 4rem;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 12px;
  }
  .header .logo {
    background-image: url(../assets/logo/joomag-love-wework-mobile.svg);
    width: 65%;
  }
  .features .feature {
    flex-direction: column;
    text-align: center;
  }
  .features .feature-text {
    min-width: 90%;
  }
  .footer p {
    max-width: 90%;
  }
}
