body{
  color: white;
  font-family: Proxima Nova;
}
.container {
  padding: 95px 200px;
  text-align: center;
  background-image: linear-gradient(45deg, #29116d, #5c4789);
  min-height: 50vh;
}

.header-text > :first-child{
  font-weight: bold;
  font-size: 36px;
  margin-top: 50px;
}

.header-text > :second-child{
  font-size: 18px;
  margin-top: 35px;
}

.header img {
  height: 48px;
  width: auto;
}
